<div style="top:0px;">
<%= "<audio style=\"top:0px;\" src=\"#{@filename}\" autoplay=\"true\" onended=\"javascript:next_track()\" controls=\"controls\">Your browser does not support the audio element.</audio>" %>
</div>